<a href="https://colab.research.google.com/github/matheushrq/python-data-processing/blob/main/cafe_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [ ]:
pd.set_option('display.max_rows', None)
dataset = pd.read_csv('dirty_cafe_sales.csv', sep=',')
dataset.head(15)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21

Tratando os itens

In [ ]:
agrupado = dataset.groupby(['Item']).size()
agrupado

Item
Cake        1139
Coffee      1165
Cookie      1092
ERROR        292
Juice       1171
Salad       1148
Sandwich    1131
Smoothie    1096
Tea         1089
UNKNOWN      344
dtype: int64

In [ ]:
dataset.loc[dataset['Item'].isin(['ERROR', 'UNKNOWN']), 'Item'] = 'Cake'
agrupado = dataset.groupby(['Item']).size()
agrupado

Item
Cake        1775
Coffee      1165
Cookie      1092
Juice       1171
Salad       1148
Sandwich    1131
Smoothie    1096
Tea         1089
dtype: int64

In [ ]:
dataset.head(15)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,NaN,In-store,2023-03-21

In [ ]:
dataset['Item'].isnull().sum()

np.int64(333)

In [ ]:
agrupado = dataset.groupby(['Item']).size()
agrupado

Item
Cake        1775
Coffee      1165
Cookie      1092
Juice       1171
Salad       1148
Sandwich    1131
Smoothie    1096
Tea         1089
dtype: int64

In [ ]:
dataset['Item'].fillna('Coffee', inplace=True)
agrupado = dataset.groupby(['Item']).size()
agrupado

/tmp/ipython-input-2226723518.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Item'].fillna('Coffee', inplace=True)

Item
Cake        1775
Coffee      1498
Cookie      1092
Juice       1171
Salad       1148
Sandwich    1131
Smoothie    1096
Tea         1089
dtype: int64

In [ ]:
dataset['Item'].isnull().sum()

np.int64(0)

In [ ]:
dataset.head(15)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,Coffee,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,NaN,In-store,2023-03-21

Tratando a forma de pagamento

In [ ]:
forma_pagamento = dataset.groupby(['Payment Method']).size()
forma_pagamento

Payment Method
Cash              2258
Credit Card       2273
Digital Wallet    2291
ERROR              306
UNKNOWN            293
dtype: int64

In [ ]:
dataset.loc[dataset['Payment Method'].isin(['ERROR', 'UNKNOWN']), 'Payment Method'] = 'Cash'
forma_pagamento = dataset.groupby(['Payment Method']).size()
forma_pagamento

Payment Method
Cash              2857
Credit Card       2273
Digital Wallet    2291
dtype: int64

In [ ]:
dataset['Payment Method'].isnull().sum()

np.int64(2579)

In [ ]:
dataset['Payment Method'].fillna('Credit Card', inplace=True)
forma_pagamento = dataset.groupby(['Payment Method']).size()
forma_pagamento

Payment Method
Cash              2857
Credit Card       4852
Digital Wallet    2291
dtype: int64

In [ ]:
dataset.head(15)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Cash,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,Coffee,5,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,Credit Card,In-store,2023-03-21

Tratando a localidade

In [ ]:
local = dataset.groupby(['Location']).size()
local

Location
ERROR        358
In-store    3017
Takeaway    3022
UNKNOWN      338
dtype: int64

In [ ]:
dataset.loc[dataset['Location'].isin(['ERROR', 'UNKNOWN']), 'Location'] = 'Other'
local = dataset.groupby(['Location']).size()
local

Location
In-store    3017
Other        696
Takeaway    3022
dtype: int64

In [ ]:
dataset['Location'].isnull().sum()

np.int64(3265)

In [ ]:
dataset['Location'].fillna('Other', inplace=True)
local = dataset.groupby(['Location']).size()
local

/tmp/ipython-input-1257609582.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Location'].fillna('Other', inplace=True)

Location
In-store    3017
Other       3961
Takeaway    3022
dtype: int64

In [ ]:
dataset.head(100)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Other,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Other,2023-10-28
8,TXN_4717867,Coffee,5,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,Credit Card,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Credit Card,Other,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Other,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2,4.0,8.0,Credit Card,Other,2023-09-18
24,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3,4.0,NaN,Cash,Other,2023-12-13
26,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-11
29,TXN_7640952,Cake,4,3.0,12.0,Digital Wallet,Takeaway,ERROR
30,TXN_1736287,Coffee,5,2.0,10.0,Digital Wallet,Other,2023-06-02
31,TXN_8927252,Cake,2,1.0,ERROR,Credit Card,Other,2023-11-06
32,TXN_9677376,Smoothie,4,4.0,16.0,Credit Card,In-store,2023-08-15
33,TXN_7710508,Cake,5,1.0,5.0,Cash,Other,ERROR
34,TXN_8853997,Smoothie,2,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1,4.0,4.0,Credit Card,Other,2023-05-28
36,TXN_6855453,Cake,4,3.0,12.0,Credit Card,In-store,2023-07-17
37,TXN_1080432,Salad,2,5.0,10.0,Credit Card,In-store,2023-04-29
38,TXN_2655815,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-06-08
39,TXN_6688524,Coffee,4,2.0,8.0,Cash,Other,2023-06-29
40,TXN_2083138,Smoothie,3,4.0,12.0,Credit Card,In-store,2023-04-17
41,TXN_2427584,Sandwich,4,4.0,16.0,Credit Card,Takeaway,2023-12-22
42,TXN_6650263,Tea,2,1.5,UNKNOWN,Credit Card,Takeaway,2023-01-10
43,TXN_9620080,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-10-02
44,TXN_1491578,Cookie,2,1.0,2.0,Credit Card,Other,2023-02-23
45,TXN_5455792,Salad,3,5.0,15.0,Cash,Other,2023-03-22
46,TXN_8078640,Juice,4,3.0,12.0,Digital Wallet,In-store,2023-11-03
47,TXN_9499313,Juice,5,3.0,15.0,Credit Card,Other,2023-03-02
48,TXN_8201146,Juice,5,3.0,15.0,Cash,Other,2023-06-26
49,TXN_8230936,Cake,3,3.0,9.0,Credit Card,Other,2023-05-02
50,TXN_7742742,Cake,5,3.0,15.0,Credit Card,Takeaway,2023-09-05
51,TXN_6342161,Salad,5,5.0,25.0,Cash,Takeaway,2023-01-08
52,TXN_8914892,Cake,5,5.0,25.0,Digital Wallet,Other,2023-03-15
53,TXN_3363746,Smoothie,3,4.0,12.0,Credit Card,Other,2023-11-25
54,TXN_8614868,Smoothie,5,4.0,20.0,Digital Wallet,Takeaway,2023-12-05
55,TXN_5522862,Cookie,ERROR,1.0,2.0,Credit Card,Takeaway,2023-03-19
56,TXN_3578141,Cake,5,NaN,15.0,Credit Card,Takeaway,2023-06-27
57,TXN_2080895,Cake,UNKNOWN,3.0,3.0,Digital Wallet,In-store,2023-04-19
58,TXN_6421134,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-11-03
59,TXN_8813311,Juice,5,3.0,15.0,Credit Card,In-store,2023-10-07
60,TXN_9023317,Salad,1,5.0,5.0,Credit Card,Other,2023-09-30
61,TXN_8051289,Coffee,1,3.0,3.0,Credit Card,In-store,2023-10-09
62,TXN_2537617,Sandwich,1,4.0,4.0,Cash,Other,2023-05-27
63,TXN_9099694,Cake,3,5.0,15.0,Credit Card,Takeaway,2023-11-18
64,TXN_9230615,Smoothie,4,4.0,16.0,Digital Wallet,Other,2023-06-01
65,TXN_4987129,Sandwich,3,NaN,NaN,Credit Card,In-store,2023-10-20
66,TXN_8501819,Juice,NaN,3.0,6.0,Cash,Other,2023-03-30
67,TXN_3068204,Cookie,1,1.0,1.0,Credit Card,Takeaway,2023-10-03
68,TXN_8427104,Salad,2,ERROR,10.0,Credit Card,In-store,2023-10-27
69,TXN_8471743,Cake,5,3.0,15.0,Digital Wallet,In-store,2023-04-06
70,TXN_2621580,Tea,2,1.5,3.0,Cash,In-store,2023-03-22
71,TXN_4726376,Cake,2,3.0,6.0,Credit Card,In-store,2023-01-31
72,TXN_6044979,Coffee,1,1.0,1.0,Cash,In-store,2023-12-08
73,TXN_4238417,Salad,2,5.0,10.0,Credit Card,Other,2023-06-19
74,TXN_1900620,Smoothie,2,4.0,8.0,Credit Card,Other,2023-12-14
75,TXN_6420335,Coffee,1,2.0,2.0,Cash,Takeaway,2023-07-16
76,TXN_3858209,Sandwich,4,4.0,16.0,Cash,Other,2023-02-22
77,TXN_2091733,Salad,1,5.0,5.0,Credit Card,In-store,NaN
78,TXN_8735480,Tea,5,1.5,7.5,Cash,Other,2023-06-02
79,TXN_3829165,Juice,4,3.0,12.0,Cash,In-store,2023-06-15
80,TXN_3748616,Coffee,2,2.0,4.0,Credit Card,In-store,2023-12-09
81,TXN_1993289,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-04-18
82,TXN_2123367,Cookie,2,1.0,2.0,Credit Card,Other,2023-11-07
83,TXN_5266394,Cake,3,3.0,9.0,Cash,In-store,2023-10-28
84,TXN_5107946,Cake,4,3.0,12.0,Credit Card,Other,2023-12-22
85,TXN_8035512,Tea,3,NaN,4.5,Cash,Other,2023-10-29
86,TXN_8718498,Cake,5,3.0,15.0,Credit Card,Other,2023-04-30
87,TXN_3955361,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-04-02
88,TXN_9487821,Cake,1,5.0,5.0,Digital Wallet,Takeaway,2023-05-24
89,TXN_4132730,Coffee,5,1.0,5.0,Credit Card,In-store,2023-03-12
90,TXN_8976658,Tea,2,1.5,3.0,Credit Card,In-store,2023-08-16
91,TXN_5455936,Cake,5,3.0,15.0,Credit Card,In-store,2023-10-28
92,TXN_2725602,Juice,5,3.0,15.0,Credit Card,Other,2023-09-10
93,TXN_3011323,Coffee,3,2.0,6.0,Credit Card,Other,2023-03-07
94,TXN_6289610,Juice,3,3.0,UNKNOWN,Cash,Takeaway,2023-08-07
95,TXN_8268061,Salad,3,5.0,15.0,Cash,Takeaway,2023-08-20
96,TXN_5220895,Salad,5,5.0,25.0,Cash,In-store,2023-06-10
97,TXN_3085509,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-04-15
98,TXN_9999113,Juice,4,3.0,12.0,Cash,Takeaway,2023-05-27
99,TXN_8779771,Coffee,4,2.0,8.0,Cash,In-store,2023-07-25

Tratando o total gasto (Total Spent)

In [ ]:
dataset['Total Spent'].describe()

count     9827
unique      19
top        6.0
freq       979
Name: Total Spent, dtype: object

In [ ]:
print(type([dataset['Total Spent']]))

<class 'list'>

In [ ]:
media = dataset.groupby(['Total Spent']).size()
media

Total Spent
1.0        232
1.5        205
10.0       524
12.0       939
15.0       734
16.0       444
2.0        497
20.0       746
25.0       259
3.0        930
4.0        923
4.5        225
5.0        468
6.0        979
7.5        237
8.0        677
9.0        479
ERROR      164
UNKNOWN    165
dtype: int64

Substituindo ERROR e UNKNOWN para NaN

In [ ]:
dataset.loc[dataset['Total Spent'].isin(['ERROR', 'UNKNOWN']), 'Total Spent'] = None
media = dataset.groupby(['Total Spent']).size()
media

Total Spent
1.0     232
1.5     205
10.0    524
12.0    939
15.0    734
16.0    444
2.0     497
20.0    746
25.0    259
3.0     930
4.0     923
4.5     225
5.0     468
6.0     979
7.5     237
8.0     677
9.0     479
dtype: int64

Considerando a coluna `Total Spent` que possui valores como 'ERROR' e 'UNKNOWN', voc precisar limpar esses valores antes de tentar convert-los para numrico. Uma forma de fazer isso  substitu-los por `NaN` e depois converter a coluna para um tipo numrico, e ento preencher os valores ausentes ou remov-los. Ou, como estvamos fazendo, substitu-los por um valor que j existe ou um que faa sentido, antes de converter.

In [ ]:
dataset['Total Spent'] = pd.to_numeric(dataset['Total Spent'], errors='coerce')
print(dataset['Total Spent'].head())

0     4.0
1    12.0
2     NaN
3    10.0
4     4.0
Name: Total Spent, dtype: float64

In [ ]:
mediana = sts.median(dataset['Total Spent'])
mediana

2.0

In [ ]:
dataset['Total Spent'].isnull().sum()

np.int64(502)

In [ ]:
dataset['Total Spent'].fillna(mediana, inplace=True)
dataset['Total Spent'].isnull().sum()

/tmp/ipython-input-1590050117.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Total Spent'].fillna(mediana, inplace=True)

np.int64(0)

In [ ]:
dataset.head(100)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,2.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Other,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Other,2023-10-28
8,TXN_4717867,Coffee,5,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,None
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,Credit Card,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Credit Card,Other,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Other,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2,4.0,8.0,Credit Card,Other,2023-09-18
24,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3,4.0,2.0,Cash,Other,2023-12-13
26,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-11
29,TXN_7640952,Cake,4,3.0,12.0,Digital Wallet,Takeaway,None
30,TXN_1736287,Coffee,5,2.0,10.0,Digital Wallet,Other,2023-06-02
31,TXN_8927252,Cake,2,1.0,2.0,Credit Card,Other,2023-11-06
32,TXN_9677376,Smoothie,4,4.0,16.0,Credit Card,In-store,2023-08-15
33,TXN_7710508,Cake,5,1.0,5.0,Cash,Other,None
34,TXN_8853997,Smoothie,2,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1,4.0,4.0,Credit Card,Other,2023-05-28
36,TXN_6855453,Cake,4,3.0,12.0,Credit Card,In-store,2023-07-17
37,TXN_1080432,Salad,2,5.0,10.0,Credit Card,In-store,2023-04-29
38,TXN_2655815,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-06-08
39,TXN_6688524,Coffee,4,2.0,8.0,Cash,Other,2023-06-29
40,TXN_2083138,Smoothie,3,4.0,12.0,Credit Card,In-store,2023-04-17
41,TXN_2427584,Sandwich,4,4.0,16.0,Credit Card,Takeaway,2023-12-22
42,TXN_6650263,Tea,2,1.5,2.0,Credit Card,Takeaway,2023-01-10
43,TXN_9620080,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-10-02
44,TXN_1491578,Cookie,2,1.0,2.0,Credit Card,Other,2023-02-23
45,TXN_5455792,Salad,3,5.0,15.0,Cash,Other,2023-03-22
46,TXN_8078640,Juice,4,3.0,12.0,Digital Wallet,In-store,2023-11-03
47,TXN_9499313,Juice,5,3.0,15.0,Credit Card,Other,2023-03-02
48,TXN_8201146,Juice,5,3.0,15.0,Cash,Other,2023-06-26
49,TXN_8230936,Cake,3,3.0,9.0,Credit Card,Other,2023-05-02
50,TXN_7742742,Cake,5,3.0,15.0,Credit Card,Takeaway,2023-09-05
51,TXN_6342161,Salad,5,5.0,25.0,Cash,Takeaway,2023-01-08
52,TXN_8914892,Cake,5,5.0,25.0,Digital Wallet,Other,2023-03-15
53,TXN_3363746,Smoothie,3,4.0,12.0,Credit Card,Other,2023-11-25
54,TXN_8614868,Smoothie,5,4.0,20.0,Digital Wallet,Takeaway,2023-12-05
55,TXN_5522862,Cookie,ERROR,1.0,2.0,Credit Card,Takeaway,2023-03-19
56,TXN_3578141,Cake,5,NaN,15.0,Credit Card,Takeaway,2023-06-27
57,TXN_2080895,Cake,UNKNOWN,3.0,3.0,Digital Wallet,In-store,2023-04-19
58,TXN_6421134,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-11-03
59,TXN_8813311,Juice,5,3.0,15.0,Credit Card,In-store,2023-10-07
60,TXN_9023317,Salad,1,5.0,5.0,Credit Card,Other,2023-09-30
61,TXN_8051289,Coffee,1,3.0,3.0,Credit Card,In-store,2023-10-09
62,TXN_2537617,Sandwich,1,4.0,4.0,Cash,Other,2023-05-27
63,TXN_9099694,Cake,3,5.0,15.0,Credit Card,Takeaway,2023-11-18
64,TXN_9230615,Smoothie,4,4.0,16.0,Digital Wallet,Other,2023-06-01
65,TXN_4987129,Sandwich,3,NaN,2.0,Credit Card,In-store,2023-10-20
66,TXN_8501819,Juice,NaN,3.0,6.0,Cash,Other,2023-03-30
67,TXN_3068204,Cookie,1,1.0,1.0,Credit Card,Takeaway,2023-10-03
68,TXN_8427104,Salad,2,ERROR,10.0,Credit Card,In-store,2023-10-27
69,TXN_8471743,Cake,5,3.0,15.0,Digital Wallet,In-store,2023-04-06
70,TXN_2621580,Tea,2,1.5,3.0,Cash,In-store,2023-03-22
71,TXN_4726376,Cake,2,3.0,6.0,Credit Card,In-store,2023-01-31
72,TXN_6044979,Coffee,1,1.0,1.0,Cash,In-store,2023-12-08
73,TXN_4238417,Salad,2,5.0,10.0,Credit Card,Other,2023-06-19
74,TXN_1900620,Smoothie,2,4.0,8.0,Credit Card,Other,2023-12-14
75,TXN_6420335,Coffee,1,2.0,2.0,Cash,Takeaway,2023-07-16
76,TXN_3858209,Sandwich,4,4.0,16.0,Cash,Other,2023-02-22
77,TXN_2091733,Salad,1,5.0,5.0,Credit Card,In-store,NaN
78,TXN_8735480,Tea,5,1.5,7.5,Cash,Other,2023-06-02
79,TXN_3829165,Juice,4,3.0,12.0,Cash,In-store,2023-06-15
80,TXN_3748616,Coffee,2,2.0,4.0,Credit Card,In-store,2023-12-09
81,TXN_1993289,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-04-18
82,TXN_2123367,Cookie,2,1.0,2.0,Credit Card,Other,2023-11-07
83,TXN_5266394,Cake,3,3.0,9.0,Cash,In-store,2023-10-28
84,TXN_5107946,Cake,4,3.0,12.0,Credit Card,Other,2023-12-22
85,TXN_8035512,Tea,3,NaN,4.5,Cash,Other,2023-10-29
86,TXN_8718498,Cake,5,3.0,15.0,Credit Card,Other,2023-04-30
87,TXN_3955361,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-04-02
88,TXN_9487821,Cake,1,5.0,5.0,Digital Wallet,Takeaway,2023-05-24
89,TXN_4132730,Coffee,5,1.0,5.0,Credit Card,In-store,2023-03-12
90,TXN_8976658,Tea,2,1.5,3.0,Credit Card,In-store,2023-08-16
91,TXN_5455936,Cake,5,3.0,15.0,Credit Card,In-store,2023-10-28
92,TXN_2725602,Juice,5,3.0,15.0,Credit Card,Other,2023-09-10
93,TXN_3011323,Coffee,3,2.0,6.0,Credit Card,Other,2023-03-07
94,TXN_6289610,Juice,3,3.0,2.0,Cash,Takeaway,2023-08-07
95,TXN_8268061,Salad,3,5.0,15.0,Cash,Takeaway,2023-08-20
96,TXN_5220895,Salad,5,5.0,25.0,Cash,In-store,2023-06-10
97,TXN_3085509,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-04-15
98,TXN_9999113,Juice,4,3.0,12.0,Cash,Takeaway,2023-05-27
99,TXN_8779771,Coffee,4,2.0,8.0,Cash,In-store,2023-07-25

Tratamento das datas

In [ ]:
dataset.loc[dataset['Transaction Date'].isin(['ERROR', 'UNKNOWN']), 'Transaction Date'] = None
dataset['Transaction Date'].isnull().sum()

np.int64(460)

Atribuindo a data atual aonde estiver nulo ou NaN

In [ ]:
from numpy import nan
import datetime

dataset.loc[dataset['Transaction Date'].isin([None, nan]), 'Transaction Date'] = datetime.date.today()
dataset.head(100)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,2.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Other,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-31
6,TXN_4433211,Cake,3,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Other,2023-10-28
8,TXN_4717867,Coffee,5,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,2026-02-25
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2,1.5,3.0,Credit Card,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Credit Card,Other,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Other,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2,4.0,8.0,Credit Card,Other,2023-09-18
24,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3,4.0,2.0,Cash,Other,2023-12-13
26,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,Other,2023-03-11
29,TXN_7640952,Cake,4,3.0,12.0,Digital Wallet,Takeaway,2026-02-25
30,TXN_1736287,Coffee,5,2.0,10.0,Digital Wallet,Other,2023-06-02
31,TXN_8927252,Cake,2,1.0,2.0,Credit Card,Other,2023-11-06
32,TXN_9677376,Smoothie,4,4.0,16.0,Credit Card,In-store,2023-08-15
33,TXN_7710508,Cake,5,1.0,5.0,Cash,Other,2026-02-25
34,TXN_8853997,Smoothie,2,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1,4.0,4.0,Credit Card,Other,2023-05-28
36,TXN_6855453,Cake,4,3.0,12.0,Credit Card,In-store,2023-07-17
37,TXN_1080432,Salad,2,5.0,10.0,Credit Card,In-store,2023-04-29
38,TXN_2655815,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-06-08
39,TXN_6688524,Coffee,4,2.0,8.0,Cash,Other,2023-06-29
40,TXN_2083138,Smoothie,3,4.0,12.0,Credit Card,In-store,2023-04-17
41,TXN_2427584,Sandwich,4,4.0,16.0,Credit Card,Takeaway,2023-12-22
42,TXN_6650263,Tea,2,1.5,2.0,Credit Card,Takeaway,2023-01-10
43,TXN_9620080,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-10-02
44,TXN_1491578,Cookie,2,1.0,2.0,Credit Card,Other,2023-02-23
45,TXN_5455792,Salad,3,5.0,15.0,Cash,Other,2023-03-22
46,TXN_8078640,Juice,4,3.0,12.0,Digital Wallet,In-store,2023-11-03
47,TXN_9499313,Juice,5,3.0,15.0,Credit Card,Other,2023-03-02
48,TXN_8201146,Juice,5,3.0,15.0,Cash,Other,2023-06-26
49,TXN_8230936,Cake,3,3.0,9.0,Credit Card,Other,2023-05-02
50,TXN_7742742,Cake,5,3.0,15.0,Credit Card,Takeaway,2023-09-05
51,TXN_6342161,Salad,5,5.0,25.0,Cash,Takeaway,2023-01-08
52,TXN_8914892,Cake,5,5.0,25.0,Digital Wallet,Other,2023-03-15
53,TXN_3363746,Smoothie,3,4.0,12.0,Credit Card,Other,2023-11-25
54,TXN_8614868,Smoothie,5,4.0,20.0,Digital Wallet,Takeaway,2023-12-05
55,TXN_5522862,Cookie,ERROR,1.0,2.0,Credit Card,Takeaway,2023-03-19
56,TXN_3578141,Cake,5,NaN,15.0,Credit Card,Takeaway,2023-06-27
57,TXN_2080895,Cake,UNKNOWN,3.0,3.0,Digital Wallet,In-store,2023-04-19
58,TXN_6421134,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-11-03
59,TXN_8813311,Juice,5,3.0,15.0,Credit Card,In-store,2023-10-07
60,TXN_9023317,Salad,1,5.0,5.0,Credit Card,Other,2023-09-30
61,TXN_8051289,Coffee,1,3.0,3.0,Credit Card,In-store,2023-10-09
62,TXN_2537617,Sandwich,1,4.0,4.0,Cash,Other,2023-05-27
63,TXN_9099694,Cake,3,5.0,15.0,Credit Card,Takeaway,2023-11-18
64,TXN_9230615,Smoothie,4,4.0,16.0,Digital Wallet,Other,2023-06-01
65,TXN_4987129,Sandwich,3,NaN,2.0,Credit Card,In-store,2023-10-20
66,TXN_8501819,Juice,NaN,3.0,6.0,Cash,Other,2023-03-30
67,TXN_3068204,Cookie,1,1.0,1.0,Credit Card,Takeaway,2023-10-03
68,TXN_8427104,Salad,2,ERROR,10.0,Credit Card,In-store,2023-10-27
69,TXN_8471743,Cake,5,3.0,15.0,Digital Wallet,In-store,2023-04-06
70,TXN_2621580,Tea,2,1.5,3.0,Cash,In-store,2023-03-22
71,TXN_4726376,Cake,2,3.0,6.0,Credit Card,In-store,2023-01-31
72,TXN_6044979,Coffee,1,1.0,1.0,Cash,In-store,2023-12-08
73,TXN_4238417,Salad,2,5.0,10.0,Credit Card,Other,2023-06-19
74,TXN_1900620,Smoothie,2,4.0,8.0,Credit Card,Other,2023-12-14
75,TXN_6420335,Coffee,1,2.0,2.0,Cash,Takeaway,2023-07-16
76,TXN_3858209,Sandwich,4,4.0,16.0,Cash,Other,2023-02-22
77,TXN_2091733,Salad,1,5.0,5.0,Credit Card,In-store,2026-02-25
78,TXN_8735480,Tea,5,1.5,7.5,Cash,Other,2023-06-02
79,TXN_3829165,Juice,4,3.0,12.0,Cash,In-store,2023-06-15
80,TXN_3748616,Coffee,2,2.0,4.0,Credit Card,In-store,2023-12-09
81,TXN_1993289,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-04-18
82,TXN_2123367,Cookie,2,1.0,2.0,Credit Card,Other,2023-11-07
83,TXN_5266394,Cake,3,3.0,9.0,Cash,In-store,2023-10-28
84,TXN_5107946,Cake,4,3.0,12.0,Credit Card,Other,2023-12-22
85,TXN_8035512,Tea,3,NaN,4.5,Cash,Other,2023-10-29
86,TXN_8718498,Cake,5,3.0,15.0,Credit Card,Other,2023-04-30
87,TXN_3955361,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-04-02
88,TXN_9487821,Cake,1,5.0,5.0,Digital Wallet,Takeaway,2023-05-24
89,TXN_4132730,Coffee,5,1.0,5.0,Credit Card,In-store,2023-03-12
90,TXN_8976658,Tea,2,1.5,3.0,Credit Card,In-store,2023-08-16
91,TXN_5455936,Cake,5,3.0,15.0,Credit Card,In-store,2023-10-28
92,TXN_2725602,Juice,5,3.0,15.0,Credit Card,Other,2023-09-10
93,TXN_3011323,Coffee,3,2.0,6.0,Credit Card,Other,2023-03-07
94,TXN_6289610,Juice,3,3.0,2.0,Cash,Takeaway,2023-08-07
95,TXN_8268061,Salad,3,5.0,15.0,Cash,Takeaway,2023-08-20
96,TXN_5220895,Salad,5,5.0,25.0,Cash,In-store,2023-06-10
97,TXN_3085509,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-04-15
98,TXN_9999113,Juice,4,3.0,12.0,Cash,Takeaway,2023-05-27
99,TXN_8779771,Coffee,4,2.0,8.0,Cash,In-store,2023-07-25

Tratando ID's duplicados

In [ ]:
dataset[dataset.duplicated(['Transaction ID'], keep=False)]

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

Tratando Quantity

In [ ]:
dataset['Quantity'] = pd.to_numeric(dataset['Quantity'], errors='coerce')
max_quantity = dataset['Quantity'].max()
max_quantity

5.0

In [ ]:
from numpy import nan
dataset.loc[dataset['Quantity'].isin(['ERROR', 'UNKNOWN', nan]), 'Quantity'] = max_quantity

# validando
dataset.head(100)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,2.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Cash,Other,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,Other,2023-03-31
6,TXN_4433211,Cake,3.0,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,Other,2023-10-28
8,TXN_4717867,Coffee,5.0,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,2026-02-25
12,TXN_7619095,Sandwich,2.0,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5.0,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2.0,1.5,3.0,Credit Card,In-store,2023-03-21
15,TXN_2847255,Salad,3.0,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1.0,4.0,4.0,Credit Card,Other,2023-06-10
17,TXN_6769710,Juice,2.0,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5.0,3.0,15.0,Cash,Other,2023-03-25
19,TXN_3709394,Juice,4.0,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5.0,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4.0,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3.0,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2.0,4.0,8.0,Credit Card,Other,2023-09-18
24,TXN_9400181,Sandwich,5.0,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3.0,4.0,2.0,Cash,Other,2023-12-13
26,TXN_5183041,Cookie,5.0,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4.0,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5.0,4.0,20.0,Credit Card,Other,2023-03-11
29,TXN_7640952,Cake,4.0,3.0,12.0,Digital Wallet,Takeaway,2026-02-25
30,TXN_1736287,Coffee,5.0,2.0,10.0,Digital Wallet,Other,2023-06-02
31,TXN_8927252,Cake,2.0,1.0,2.0,Credit Card,Other,2023-11-06
32,TXN_9677376,Smoothie,4.0,4.0,16.0,Credit Card,In-store,2023-08-15
33,TXN_7710508,Cake,5.0,1.0,5.0,Cash,Other,2026-02-25
34,TXN_8853997,Smoothie,2.0,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1.0,4.0,4.0,Credit Card,Other,2023-05-28
36,TXN_6855453,Cake,4.0,3.0,12.0,Credit Card,In-store,2023-07-17
37,TXN_1080432,Salad,2.0,5.0,10.0,Credit Card,In-store,2023-04-29
38,TXN_2655815,Smoothie,4.0,4.0,16.0,Credit Card,Takeaway,2023-06-08
39,TXN_6688524,Coffee,4.0,2.0,8.0,Cash,Other,2023-06-29
40,TXN_2083138,Smoothie,3.0,4.0,12.0,Credit Card,In-store,2023-04-17
41,TXN_2427584,Sandwich,4.0,4.0,16.0,Credit Card,Takeaway,2023-12-22
42,TXN_6650263,Tea,2.0,1.5,2.0,Credit Card,Takeaway,2023-01-10
43,TXN_9620080,Juice,4.0,3.0,12.0,Credit Card,Takeaway,2023-10-02
44,TXN_1491578,Cookie,2.0,1.0,2.0,Credit Card,Other,2023-02-23
45,TXN_5455792,Salad,3.0,5.0,15.0,Cash,Other,2023-03-22
46,TXN_8078640,Juice,4.0,3.0,12.0,Digital Wallet,In-store,2023-11-03
47,TXN_9499313,Juice,5.0,3.0,15.0,Credit Card,Other,2023-03-02
48,TXN_8201146,Juice,5.0,3.0,15.0,Cash,Other,2023-06-26
49,TXN_8230936,Cake,3.0,3.0,9.0,Credit Card,Other,2023-05-02
50,TXN_7742742,Cake,5.0,3.0,15.0,Credit Card,Takeaway,2023-09-05
51,TXN_6342161,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-01-08
52,TXN_8914892,Cake,5.0,5.0,25.0,Digital Wallet,Other,2023-03-15
53,TXN_3363746,Smoothie,3.0,4.0,12.0,Credit Card,Other,2023-11-25
54,TXN_8614868,Smoothie,5.0,4.0,20.0,Digital Wallet,Takeaway,2023-12-05
55,TXN_5522862,Cookie,5.0,1.0,2.0,Credit Card,Takeaway,2023-03-19
56,TXN_3578141,Cake,5.0,NaN,15.0,Credit Card,Takeaway,2023-06-27
57,TXN_2080895,Cake,5.0,3.0,3.0,Digital Wallet,In-store,2023-04-19
58,TXN_6421134,Sandwich,4.0,4.0,16.0,Cash,Takeaway,2023-11-03
59,TXN_8813311,Juice,5.0,3.0,15.0,Credit Card,In-store,2023-10-07
60,TXN_9023317,Salad,1.0,5.0,5.0,Credit Card,Other,2023-09-30
61,TXN_8051289,Coffee,1.0,3.0,3.0,Credit Card,In-store,2023-10-09
62,TXN_2537617,Sandwich,1.0,4.0,4.0,Cash,Other,2023-05-27
63,TXN_9099694,Cake,3.0,5.0,15.0,Credit Card,Takeaway,2023-11-18
64,TXN_9230615,Smoothie,4.0,4.0,16.0,Digital Wallet,Other,2023-06-01
65,TXN_4987129,Sandwich,3.0,NaN,2.0,Credit Card,In-store,2023-10-20
66,TXN_8501819,Juice,5.0,3.0,6.0,Cash,Other,2023-03-30
67,TXN_3068204,Cookie,1.0,1.0,1.0,Credit Card,Takeaway,2023-10-03
68,TXN_8427104,Salad,2.0,ERROR,10.0,Credit Card,In-store,2023-10-27
69,TXN_8471743,Cake,5.0,3.0,15.0,Digital Wallet,In-store,2023-04-06
70,TXN_2621580,Tea,2.0,1.5,3.0,Cash,In-store,2023-03-22
71,TXN_4726376,Cake,2.0,3.0,6.0,Credit Card,In-store,2023-01-31
72,TXN_6044979,Coffee,1.0,1.0,1.0,Cash,In-store,2023-12-08
73,TXN_4238417,Salad,2.0,5.0,10.0,Credit Card,Other,2023-06-19
74,TXN_1900620,Smoothie,2.0,4.0,8.0,Credit Card,Other,2023-12-14
75,TXN_6420335,Coffee,1.0,2.0,2.0,Cash,Takeaway,2023-07-16
76,TXN_3858209,Sandwich,4.0,4.0,16.0,Cash,Other,2023-02-22
77,TXN_2091733,Salad,1.0,5.0,5.0,Credit Card,In-store,2026-02-25
78,TXN_8735480,Tea,5.0,1.5,7.5,Cash,Other,2023-06-02
79,TXN_3829165,Juice,4.0,3.0,12.0,Cash,In-store,2023-06-15
80,TXN_3748616,Coffee,2.0,2.0,4.0,Credit Card,In-store,2023-12-09
81,TXN_1993289,Sandwich,2.0,4.0,8.0,Credit Card,In-store,2023-04-18
82,TXN_2123367,Cookie,2.0,1.0,2.0,Credit Card,Other,2023-11-07
83,TXN_5266394,Cake,3.0,3.0,9.0,Cash,In-store,2023-10-28
84,TXN_5107946,Cake,4.0,3.0,12.0,Credit Card,Other,2023-12-22
85,TXN_8035512,Tea,3.0,NaN,4.5,Cash,Other,2023-10-29
86,TXN_8718498,Cake,5.0,3.0,15.0,Credit Card,Other,2023-04-30
87,TXN_3955361,Cookie,5.0,1.0,5.0,Credit Card,Takeaway,2023-04-02
88,TXN_9487821,Cake,1.0,5.0,5.0,Digital Wallet,Takeaway,2023-05-24
89,TXN_4132730,Coffee,5.0,1.0,5.0,Credit Card,In-store,2023-03-12
90,TXN_8976658,Tea,2.0,1.5,3.0,Credit Card,In-store,2023-08-16
91,TXN_5455936,Cake,5.0,3.0,15.0,Credit Card,In-store,2023-10-28
92,TXN_2725602,Juice,5.0,3.0,15.0,Credit Card,Other,2023-09-10
93,TXN_3011323,Coffee,3.0,2.0,6.0,Credit Card,Other,2023-03-07
94,TXN_6289610,Juice,3.0,3.0,2.0,Cash,Takeaway,2023-08-07
95,TXN_8268061,Salad,3.0,5.0,15.0,Cash,Takeaway,2023-08-20
96,TXN_5220895,Salad,5.0,5.0,25.0,Cash,In-store,2023-06-10
97,TXN_3085509,Coffee,4.0,2.0,8.0,Digital Wallet,In-store,2023-04-15
98,TXN_9999113,Juice,4.0,3.0,12.0,Cash,Takeaway,2023-05-27
99,TXN_8779771,Coffee,4.0,2.0,8.0,Cash,In-store,2023-07-25

Tratando Per Unit

In [ ]:
# convertendo o campo para numrico
dataset['Price Per Unit'] = pd.to_numeric(dataset['Price Per Unit'], errors='coerce')

In [ ]:
max_price = dataset['Price Per Unit'].max()
max_price

5.0

In [ ]:
from numpy import nan
dataset.loc[dataset['Price Per Unit'].isin(['ERROR', 'UNKNOWN', nan]), 'Price Per Unit'] = max_price

In [ ]:
dataset.head(100)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,2.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Cash,Other,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,Other,2023-03-31
6,TXN_4433211,Cake,3.0,3.0,9.0,Cash,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,Other,2023-10-28
8,TXN_4717867,Coffee,5.0,3.0,15.0,Credit Card,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5.0,4.0,20.0,Credit Card,In-store,2023-12-31
10,TXN_2548360,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2.0,4.0,8.0,Credit Card,Takeaway,2026-02-25
12,TXN_7619095,Sandwich,2.0,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5.0,1.0,5.0,Credit Card,Takeaway,2023-06-01
14,TXN_8915701,Cake,2.0,1.5,3.0,Credit Card,In-store,2023-03-21
15,TXN_2847255,Salad,3.0,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1.0,4.0,4.0,Credit Card,Other,2023-06-10
17,TXN_6769710,Juice,2.0,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5.0,3.0,15.0,Cash,Other,2023-03-25
19,TXN_3709394,Juice,4.0,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,5.0,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4.0,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3.0,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2.0,4.0,8.0,Credit Card,Other,2023-09-18
24,TXN_9400181,Sandwich,5.0,4.0,20.0,Cash,In-store,2023-06-03
25,TXN_7958992,Smoothie,3.0,4.0,2.0,Cash,Other,2023-12-13
26,TXN_5183041,Cookie,5.0,1.0,5.0,Credit Card,In-store,2023-04-20
27,TXN_5695074,Juice,4.0,3.0,12.0,Credit Card,Takeaway,2023-04-10
28,TXN_8467949,Smoothie,5.0,4.0,20.0,Credit Card,Other,2023-03-11
29,TXN_7640952,Cake,4.0,3.0,12.0,Digital Wallet,Takeaway,2026-02-25
30,TXN_1736287,Coffee,5.0,2.0,10.0,Digital Wallet,Other,2023-06-02
31,TXN_8927252,Cake,2.0,1.0,2.0,Credit Card,Other,2023-11-06
32,TXN_9677376,Smoothie,4.0,4.0,16.0,Credit Card,In-store,2023-08-15
33,TXN_7710508,Cake,5.0,1.0,5.0,Cash,Other,2026-02-25
34,TXN_8853997,Smoothie,2.0,4.0,8.0,Digital Wallet,Takeaway,2023-10-09
35,TXN_9130559,Sandwich,1.0,4.0,4.0,Credit Card,Other,2023-05-28
36,TXN_6855453,Cake,4.0,3.0,12.0,Credit Card,In-store,2023-07-17
37,TXN_1080432,Salad,2.0,5.0,10.0,Credit Card,In-store,2023-04-29
38,TXN_2655815,Smoothie,4.0,4.0,16.0,Credit Card,Takeaway,2023-06-08
39,TXN_6688524,Coffee,4.0,2.0,8.0,Cash,Other,2023-06-29
40,TXN_2083138,Smoothie,3.0,4.0,12.0,Credit Card,In-store,2023-04-17
41,TXN_2427584,Sandwich,4.0,4.0,16.0,Credit Card,Takeaway,2023-12-22
42,TXN_6650263,Tea,2.0,1.5,2.0,Credit Card,Takeaway,2023-01-10
43,TXN_9620080,Juice,4.0,3.0,12.0,Credit Card,Takeaway,2023-10-02
44,TXN_1491578,Cookie,2.0,1.0,2.0,Credit Card,Other,2023-02-23
45,TXN_5455792,Salad,3.0,5.0,15.0,Cash,Other,2023-03-22
46,TXN_8078640,Juice,4.0,3.0,12.0,Digital Wallet,In-store,2023-11-03
47,TXN_9499313,Juice,5.0,3.0,15.0,Credit Card,Other,2023-03-02
48,TXN_8201146,Juice,5.0,3.0,15.0,Cash,Other,2023-06-26
49,TXN_8230936,Cake,3.0,3.0,9.0,Credit Card,Other,2023-05-02
50,TXN_7742742,Cake,5.0,3.0,15.0,Credit Card,Takeaway,2023-09-05
51,TXN_6342161,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-01-08
52,TXN_8914892,Cake,5.0,5.0,25.0,Digital Wallet,Other,2023-03-15
53,TXN_3363746,Smoothie,3.0,4.0,12.0,Credit Card,Other,2023-11-25
54,TXN_8614868,Smoothie,5.0,4.0,20.0,Digital Wallet,Takeaway,2023-12-05
55,TXN_5522862,Cookie,5.0,1.0,2.0,Credit Card,Takeaway,2023-03-19
56,TXN_3578141,Cake,5.0,5.0,15.0,Credit Card,Takeaway,2023-06-27
57,TXN_2080895,Cake,5.0,3.0,3.0,Digital Wallet,In-store,2023-04-19
58,TXN_6421134,Sandwich,4.0,4.0,16.0,Cash,Takeaway,2023-11-03
59,TXN_8813311,Juice,5.0,3.0,15.0,Credit Card,In-store,2023-10-07
60,TXN_9023317,Salad,1.0,5.0,5.0,Credit Card,Other,2023-09-30
61,TXN_8051289,Coffee,1.0,3.0,3.0,Credit Card,In-store,2023-10-09
62,TXN_2537617,Sandwich,1.0,4.0,4.0,Cash,Other,2023-05-27
63,TXN_9099694,Cake,3.0,5.0,15.0,Credit Card,Takeaway,2023-11-18
64,TXN_9230615,Smoothie,4.0,4.0,16.0,Digital Wallet,Other,2023-06-01
65,TXN_4987129,Sandwich,3.0,5.0,2.0,Credit Card,In-store,2023-10-20
66,TXN_8501819,Juice,5.0,3.0,6.0,Cash,Other,2023-03-30
67,TXN_3068204,Cookie,1.0,1.0,1.0,Credit Card,Takeaway,2023-10-03
68,TXN_8427104,Salad,2.0,5.0,10.0,Credit Card,In-store,2023-10-27
69,TXN_8471743,Cake,5.0,3.0,15.0,Digital Wallet,In-store,2023-04-06
70,TXN_2621580,Tea,2.0,1.5,3.0,Cash,In-store,2023-03-22
71,TXN_4726376,Cake,2.0,3.0,6.0,Credit Card,In-store,2023-01-31
72,TXN_6044979,Coffee,1.0,1.0,1.0,Cash,In-store,2023-12-08
73,TXN_4238417,Salad,2.0,5.0,10.0,Credit Card,Other,2023-06-19
74,TXN_1900620,Smoothie,2.0,4.0,8.0,Credit Card,Other,2023-12-14
75,TXN_6420335,Coffee,1.0,2.0,2.0,Cash,Takeaway,2023-07-16
76,TXN_3858209,Sandwich,4.0,4.0,16.0,Cash,Other,2023-02-22
77,TXN_2091733,Salad,1.0,5.0,5.0,Credit Card,In-store,2026-02-25
78,TXN_8735480,Tea,5.0,1.5,7.5,Cash,Other,2023-06-02
79,TXN_3829165,Juice,4.0,3.0,12.0,Cash,In-store,2023-06-15
80,TXN_3748616,Coffee,2.0,2.0,4.0,Credit Card,In-store,2023-12-09
81,TXN_1993289,Sandwich,2.0,4.0,8.0,Credit Card,In-store,2023-04-18
82,TXN_2123367,Cookie,2.0,1.0,2.0,Credit Card,Other,2023-11-07
83,TXN_5266394,Cake,3.0,3.0,9.0,Cash,In-store,2023-10-28
84,TXN_5107946,Cake,4.0,3.0,12.0,Credit Card,Other,2023-12-22
85,TXN_8035512,Tea,3.0,5.0,4.5,Cash,Other,2023-10-29
86,TXN_8718498,Cake,5.0,3.0,15.0,Credit Card,Other,2023-04-30
87,TXN_3955361,Cookie,5.0,1.0,5.0,Credit Card,Takeaway,2023-04-02
88,TXN_9487821,Cake,1.0,5.0,5.0,Digital Wallet,Takeaway,2023-05-24
89,TXN_4132730,Coffee,5.0,1.0,5.0,Credit Card,In-store,2023-03-12
90,TXN_8976658,Tea,2.0,1.5,3.0,Credit Card,In-store,2023-08-16
91,TXN_5455936,Cake,5.0,3.0,15.0,Credit Card,In-store,2023-10-28
92,TXN_2725602,Juice,5.0,3.0,15.0,Credit Card,Other,2023-09-10
93,TXN_3011323,Coffee,3.0,2.0,6.0,Credit Card,Other,2023-03-07
94,TXN_6289610,Juice,3.0,3.0,2.0,Cash,Takeaway,2023-08-07
95,TXN_8268061,Salad,3.0,5.0,15.0,Cash,Takeaway,2023-08-20
96,TXN_5220895,Salad,5.0,5.0,25.0,Cash,In-store,2023-06-10
97,TXN_3085509,Coffee,4.0,2.0,8.0,Digital Wallet,In-store,2023-04-15
98,TXN_9999113,Juice,4.0,3.0,12.0,Cash,Takeaway,2023-05-27
99,TXN_8779771,Coffee,4.0,2.0,8.0,Cash,In-store,2023-07-25