<a href="https://colab.research.google.com/github/matheushrq/python-data-processing/blob/main/retail_store_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as srn
import statistics as sts
from numpy import nan

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
dataset = pd.read_csv('retail_store_sales.csv', sep=',')
dataset.head(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,NaN
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,NaN,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,NaN

<h2>Tratamento dos dados</h2>
Tratamento: Category

In [ ]:
category_types = dataset.groupby(['Category']).size()
category_types

Category
Beverages                             1567
Butchers                              1568
Computers and electric accessories    1558
Electric household essentials         1591
Food                                  1588
Furniture                             1591
Milk Products                         1584
Patisserie                            1528
dtype: int64

In [ ]:
dataset['Category'].isnull().sum()

np.int64(0)

Tratamento: True or False

In [ ]:
true_false = dataset.groupby(['Discount Applied']).size()
true_false

Discount Applied
False    4157
True     4219
dtype: int64

In [ ]:
dataset['Discount Applied'].isnull().sum()

np.int64(4199)

In [ ]:
dataset['Discount Applied'].fillna('True', inplace=True)
dataset['Discount Applied'].isnull().sum()

/tmp/ipython-input-547/742017513.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Discount Applied'].fillna('True', inplace=True)

np.int64(0)

In [ ]:
dataset.head(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,True
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,NaN,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,NaN,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,True

Tratamento: Payment Method

In [ ]:
payment_method = dataset.groupby(['Payment Method']).size()
payment_method

Payment Method
Cash              4310
Credit Card       4121
Digital Wallet    4144
dtype: int64

In [ ]:
dataset['Payment Method'].isnull().sum()

np.int64(0)

Tratamento: Location

In [ ]:
location = dataset.groupby(['Location']).size()
location

Location
In-store    6221
Online      6354
dtype: int64

In [ ]:
dataset['Location'].isnull().sum()

np.int64(0)

Tratamento: Item

In [ ]:
item = dataset.groupby(['Item']).size()
item

Item
Item_10_BEV      23
Item_10_BUT      16
Item_10_CEA      73
Item_10_EHE      41
Item_10_FOOD     56
Item_10_FUR      30
Item_10_MILK      9
Item_10_PAT      29
Item_11_BEV      58
Item_11_BUT      38
Item_11_CEA      70
Item_11_EHE      49
Item_11_FOOD     75
Item_11_FUR     110
Item_11_MILK    106
Item_11_PAT      95
Item_12_BEV      96
Item_12_BUT      90
Item_12_CEA     101
Item_12_EHE      72
Item_12_FOOD     89
Item_12_FUR      28
Item_12_MILK     17
Item_12_PAT     100
Item_13_BEV       7
Item_13_BUT      80
Item_13_CEA      59
Item_13_EHE      80
Item_13_FOOD    101
Item_13_FUR       7
Item_13_MILK     97
Item_13_PAT      55
Item_14_BEV     100
Item_14_BUT      11
Item_14_CEA      63
Item_14_EHE       9
Item_14_FOOD    106
Item_14_FUR      48
Item_14_MILK     11
Item_14_PAT      60
Item_15_BEV      46
Item_15_BUT      78
Item_15_CEA      75
Item_15_EHE      97
Item_15_FOOD     17
Item_15_FUR      93
Item_15_MILK     23
Item_15_PAT      60
Item_16_BEV      75
Item_16_BUT      79
Item_16_CEA      54
Item_16_EHE      39
Item_16_FOOD     18
Item_16_FUR      48
Item_16_MILK    109
Item_16_PAT      50
Item_17_BEV      81
Item_17_BUT      35
Item_17_CEA      45
Item_17_EHE      79
Item_17_FOOD     86
Item_17_FUR      37
Item_17_MILK     75
Item_17_PAT      90
Item_18_BEV      45
Item_18_BUT      58
Item_18_CEA      47
Item_18_EHE      33
Item_18_FOOD     71
Item_18_FUR      17
Item_18_MILK     46
Item_18_PAT      23
Item_19_BEV      53
Item_19_BUT      37
Item_19_CEA     106
Item_19_EHE      66
Item_19_FOOD     11
Item_19_FUR      35
Item_19_MILK    105
Item_19_PAT      26
Item_1_BEV       39
Item_1_BUT       37
Item_1_CEA       25
Item_1_EHE       46
Item_1_FOOD      27
Item_1_FUR       60
Item_1_MILK     109
Item_1_PAT       62
Item_20_BEV      80
Item_20_BUT     107
Item_20_CEA      76
Item_20_EHE      88
Item_20_FOOD     93
Item_20_FUR      82
Item_20_MILK     35
Item_20_PAT      86
Item_21_BEV      43
Item_21_BUT      52
Item_21_CEA      55
Item_21_EHE      54
Item_21_FOOD     58
Item_21_FUR      66
Item_21_MILK     12
Item_21_PAT       6
Item_22_BEV      48
Item_22_BUT     100
Item_22_CEA      53
Item_22_EHE      60
Item_22_FOOD     53
Item_22_FUR       8
Item_22_MILK     57
Item_22_PAT      47
Item_23_BEV      40
Item_23_BUT      96
Item_23_CEA      45
Item_23_EHE      90
Item_23_FOOD     10
Item_23_FUR      69
Item_23_MILK     79
Item_23_PAT      87
Item_24_BEV      65
Item_24_BUT      42
Item_24_CEA       7
Item_24_EHE      14
Item_24_FOOD     37
Item_24_FUR     105
Item_24_MILK     41
Item_24_PAT      54
Item_25_BEV      78
Item_25_BUT      97
Item_25_CEA      40
Item_25_EHE      98
Item_25_FOOD     89
Item_25_FUR     113
Item_25_MILK      8
Item_25_PAT      39
Item_2_BEV      126
Item_2_BUT       56
Item_2_CEA       72
Item_2_EHE       40
Item_2_FOOD      21
Item_2_FUR       95
Item_2_MILK      49
Item_2_PAT       38
Item_3_BEV       58
Item_3_BUT       72
Item_3_CEA       26
Item_3_EHE        5
Item_3_FOOD      55
Item_3_FUR       21
Item_3_MILK      95
Item_3_PAT       24
Item_4_BEV       51
Item_4_BUT       28
Item_4_CEA       11
Item_4_EHE       54
Item_4_FOOD      74
Item_4_FUR       34
Item_4_MILK      54
Item_4_PAT       75
Item_5_BEV        7
Item_5_BUT       47
Item_5_CEA       98
Item_5_EHE       71
Item_5_FOOD      96
Item_5_FUR      107
Item_5_MILK      26
Item_5_PAT       22
Item_6_BEV       24
Item_6_BUT       63
Item_6_CEA       45
Item_6_EHE       66
Item_6_FOOD      67
Item_6_FUR       96
Item_6_MILK      90
Item_6_PAT       51
Item_7_BEV       72
Item_7_BUT       50
Item_7_CEA       48
Item_7_EHE       22
Item_7_FOOD      23
Item_7_FUR       46
Item_7_MILK      84
Item_7_PAT       58
Item_8_BEV       80
Item_8_BUT       42
Item_8_CEA       37
Item_8_EHE      105
Item_8_FOOD      22
Item_8_FUR       91
Item_8_MILK      78
Item_8_PAT       78
Item_9_BEV       32
Item_9_BUT       10
Item_9_CEA       66
Item_9_EHE       59
Item_9_FOOD      71
Item_9_FUR       14
Item_9_MILK      10
Item_9_PAT       54
dtype: int64

In [ ]:
dataset['Item'].isnull().sum()

np.int64(1213)

In [ ]:
# identificar o item mencionado menos vezes
menor_valor = dataset['Item'].value_counts().tail(1)

In [ ]:
dataset['Item'].fillna(menor_valor.index[0], inplace=True)
dataset['Item'].isnull().sum()

np.int64(0)

In [ ]:
dataset.head(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,Item_3_EHE,41.0,10.0,200.0,Credit Card,Online,2023-11-30,True
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,Item_3_EHE,33.5,8.0,410.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,Item_3_EHE,41.0,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,True

Tratando: Total Spent

In [ ]:
print(type(dataset['Total Spent']))

<class 'pandas.core.series.Series'>

In [ ]:
dataset['Total Spent'] = pd.to_numeric(dataset['Total Spent'], errors='coerce')
dataset['Total Spent'].isnull().sum()

np.int64(604)

In [ ]:
print(dataset['Total Spent'].head())

0    185.0
1    261.0
2     43.0
3    247.5
4     87.5
Name: Total Spent, dtype: float64

In [ ]:
max_quantity = dataset['Total Spent'].max()
max_quantity

410.0

In [ ]:
dataset['Total Spent'].fillna(max_quantity, inplace=True)
dataset['Total Spent'].isnull().sum()

/tmp/ipython-input-547/2996011891.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Total Spent'].fillna(max_quantity, inplace=True)

np.int64(0)

In [ ]:
dataset.head(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,NaN,10.0,200.0,Credit Card,Online,2023-11-30,True
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,410.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,NaN,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,True

Tratando: Transaction Date

In [ ]:
print(type(dataset['Transaction Date']))

<class 'pandas.core.series.Series'>

In [ ]:
dataset.loc[(dataset['Transaction Date'].isin(['UNKNOWN', 'ERROR']))]

Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [ ]:
dataset['Transaction Date'].isnull().sum()

np.int64(0)

Tratando: Price Per Unit

In [ ]:
dataset['Price Per Unit'] = pd.to_numeric(dataset['Price Per Unit'], errors='coerce')
dataset['Price Per Unit'].isnull().sum()

np.int64(609)

In [ ]:
max_quantity = dataset['Price Per Unit'].max()
max_quantity

41.0

In [ ]:
dataset['Price Per Unit'].fillna(max_quantity, inplace=True)
dataset['Price Per Unit'].isnull().sum()

/tmp/ipython-input-547/3496062413.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Price Per Unit'].fillna(max_quantity, inplace=True)

np.int64(0)

In [ ]:
dataset.head(15)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,41.0,10.0,200.0,Credit Card,Online,2023-11-30,True
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,NaN,410.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,41.0,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,True

Tratando: Transaction ID

In [ ]:
dataset[dataset.duplicated(['Transaction ID'], keep=False)]

Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

Tratando: Quantity

In [ ]:
mediana = sts.median(dataset['Quantity'])
mediana

8.0

In [ ]:
dataset['Quantity'].fillna(mediana, inplace=True)
dataset.head(15)

/tmp/ipython-input-547/1434053246.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Quantity'].fillna(mediana, inplace=True)

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
5,TXN_7482416,CUST_09,Patisserie,NaN,41.0,10.0,200.0,Credit Card,Online,2023-11-30,True
6,TXN_3652209,CUST_07,Food,Item_1_FOOD,5.0,8.0,40.0,Credit Card,In-store,2023-06-10,True
7,TXN_1372952,CUST_21,Furniture,NaN,33.5,8.0,410.0,Digital Wallet,In-store,2024-04-02,True
8,TXN_9728486,CUST_23,Furniture,Item_16_FUR,27.5,1.0,27.5,Credit Card,In-store,2023-04-26,False
9,TXN_2722661,CUST_25,Butchers,Item_22_BUT,36.5,3.0,109.5,Cash,Online,2024-03-14,False
10,TXN_8776416,CUST_22,Butchers,Item_3_BUT,8.0,9.0,72.0,Cash,In-store,2024-12-14,True
11,TXN_5422631,CUST_09,Milk Products,NaN,41.0,8.0,52.0,Digital Wallet,In-store,2025-01-12,True
12,TXN_5874772,CUST_23,Food,Item_2_FOOD,6.5,7.0,45.5,Cash,Online,2023-09-09,True
13,TXN_4413070,CUST_14,Patisserie,Item_24_PAT,39.5,6.0,237.0,Digital Wallet,In-store,2022-05-20,False
14,TXN_2490363,CUST_09,Milk Products,Item_16_MILK,27.5,2.0,55.0,Digital Wallet,Online,2022-05-22,True